<!doctype html>
{%- liquid
    if settings.list_iso_rtl != blank
        assign locale_iso_code = request.locale.iso_code
        assign arr_list_rtl = settings.list_iso_rtl | remove:' ' | split:',' 
        if arr_list_rtl contains locale_iso_code
            assign enable_iso_rtl = true
        else
            assign enable_iso_rtl = false
        endif
    endif
-%}
<html class="no-js" lang="{{ request.locale.iso_code }}"{% if settings.enable_layout_rtl and enable_iso_rtl %} dir="rtl"{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="">
        <link rel="canonical" href="{{ canonical_url }}">
        <link rel="canonical" href="{{ canonical_url }}" canonical-shop-url="{{ shop.url }}/">
        {%- if settings.favicon != blank -%}
            <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
        {%- endif -%}
        <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
        <title>
            {{ page_title }}
            {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
            {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
            {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
        </title>
        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}">
        {% endif %}
        {% render 'meta-tags' %}
        {{ content_for_header }}

        {% render 'variable' %}
        {% render 'global-style' %}
        {% render 'global-script' %}

        <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

        {%- liquid
            if settings.layout_header == 'full'
                assign layout_header = 'header-full-width'
            elsif settings.layout_header == 'boxed'
                assign layout_header = 'header-boxed'
            elsif settings.layout_header == 'custom_width'
                assign layout_header = 'header-custom-width'
            endif
        
            if settings.layout_body == 'full'
                assign layout_body = 'body-full-width'
            elsif settings.layout_body == 'boxed'
                assign layout_body = 'body-boxed'
            elsif settings.layout_body == 'custom_width'
                assign layout_body = 'body-custom-width'
            endif
        
            if settings.layout_footer == 'full'
                assign layout_footer = 'footer-full-width'
            elsif settings.layout_footer == 'boxed'
                assign layout_footer = 'footer-boxed'
            elsif settings.layout_footer == 'custom_width'
                assign layout_footer = 'footer-custom-width'
            endif
        
            if settings.style_dots == '02'
                assign style_dots = 'style-dots-2'
            endif
        
            if settings.style_arrows == '02'
                assign style_arrows = 'style-arrows-2'
            endif
        
            if settings.product_card_layout == '02'
                assign product_card_layout = 'product-card-layout-02'
            elsif settings.product_card_layout == '03'
                assign product_card_layout = 'product-card-layout-03'
            elsif settings.product_card_layout == '04'
                assign product_card_layout = 'product-card-layout-04'
            elsif settings.product_card_layout == '05'
                assign product_card_layout = 'product-card-layout-05'
            elsif settings.product_card_layout == '06'
                assign product_card_layout = 'product-card-layout-06'
            elsif settings.product_card_layout == '07'
                assign product_card_layout = 'product-card-layout-07'
            else
                assign product_card_layout = 'product-card-layout-01'
            endif
        
            if settings.quick_shop_type == '2'
                assign quick_shop_type = 'quick_shop_option_2'
            elsif  settings.quick_shop_type == '3'
                assign quick_shop_type = 'quick_shop_option_3'
            endif
        
            unless request.design_mode
                if settings.banner_animation == 'effect_1' 
                    assign banner_animation = 'banner-animation-1'
                endif
            endunless
        
            if settings.style_text_size_varriant == '02'
                assign style_text_size_varriant = 'size_varriant_style_2'
            endif
        -%}
    </head>

    <body>{{ content_for_layout }}</body>
</html>
